@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.title {
    font-size: 35px;
    color: #fdfdfd;
}

h1 {
    font-size: 50px;
    color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
}

.container {
    max-width: 12000px;
    margin: 0;
}


.header {
    display: flex;
    align-items: center;
    min-height: 26.5vh;
    background-color: #000000;

}

.swiper-slide {
    padding: 0 80px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after {
    font-size: 50px;
}

.swiper-button-next::after {
    font-size: 50px;
}

.swiper-button-prev {
    color: #000000;
}

.swiper-button-next {
    color: #000000;
}

.swiper-paginattion-bullet-active {
    background-color: #686868;
    opacity: 1;
}

.swiper-paginattion-bullet-active {
    background-color: #686868;
}

.menu {
    position: absolute;
    top: 50px;
    left: 200px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img {
    text-transform: uppercase;
    font-weight: 100%;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #ffffff;
    display: block;
}


.menu .navbar ul li a:hover {
    color: #686868;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #636161;
    padding: 20px;
    min-width: 400px;
}


.borrar {
    background-color: aqua;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

.header-content {
    padding: 200px 0 100px;
}

.header-info {
    display: flex;
}

.header-txt {
    width: 50%;
}

.header-txt h2 {
    font-size: 40px;
    text-transform: capitalize;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-img img {
    width: 250px;
}

.prices {
    display: flex;
    margin: 20px 0;
}

.price-1 {
    font-size: 30px;
    color: #636161;
    text-decoration: line-through;
    margin-right: 25px;
}

.precio {
    font-size: 30px;
    color: #000000 !important;
}

.btn-1 {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}

.btn-1:hover {
    background-color: #686868;
}

hr {
    border: 1px solid;
}

.promos {
    font-size: 50px 0;
    text-align: center;
}

.promos h2 {
    font-size: 50px;
    color: #000000;
    margin-bottom: 35px;
}

.categories {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categorie {
    display: flex;
    align-items: center;
    padding: 35px;
}

.categorie img {
    width: 150px;
}

.categorie-1 {
    width: 50%;
}

.categorie-1 h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.categorie-1 p {
    color: #000000;
    font-size: 18px;
}

.categorie-img {
    width: 50%;
}

.products {
    padding: 50px 0;
}

.products h2 {
    font-size: 50px;
    margin-bottom: 70px;
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    margin-bottom: 15px;
}

.product-txt h3 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
}

.product-txt p {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-bottom: 15px;
}

.precio {
    color: rgb(0, 0, 0);
}

.btn-3 {
    display: inline-block;
    padding: 10px 25px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
}

.btn-3:hover {
    color: #ffffff;
    background-color: #000000;
}

.pie-pagina {
    color: #ffffff;
    background: #000000;
    padding: 50px;
    width: 100%;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding: 45px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 200px;
}

.pie-pagina .grupo-1 .box {
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;}

.pie-pagina .grupo-1 a:hover {
    color: #636161;
}

.pie-pagina .grupo-2 {
    background-color: #636161;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
}


@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: #949494;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo {
        display: fixed;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }



    .swiper-slide {
        padding: 100 px 0 50px 0;
    }

    .header-content {
        padding: 200px 0 50px 0;
    }

    .header-info {
        padding: 0%;
        text-align: center;
    }

    .header-txt {
        width: 100%;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 200px;
    }

    .prices {
        flex-direction: column;
    }

    .price-1 {
        margin: 0;
    }

    .btn-1 {
        margin: 20px 0;
    }

    .promos {
        padding: 30px;
    }

    .promos h2 {
        font-size: 40 px;
        margin-bottom: 0;
    }

    .categories {
        grid-template-columns: repeat(1, 1fr);
    }

    .categorie {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .categorie-1 {
        width: 100%;
        margin-bottom: 25px;
        order: -1;
    }

    .categorie-img {
        width: 100%;
    }

    .products {
        padding: 30px;
    }

    .products h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }


    .link {
        width: 100%;
    }

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/*css del login*/

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: #020202;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #ffffff;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #000000;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;


    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #000000;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;


    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #ffffff;

    margin-top: 10px;
}

#login button:hover {
    background-color: #020202;
    color: #ffffff;
}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #050505;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #020202;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #818080;
}